.card-component {
    position: relative;
    width: 300px;
    height: 400px; /* Set height to 50% of viewport height */
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px black;
}

.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    background-position: center;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}
.card-content h2{
    font-size: 18px;
}
.card-content p{
    font-size: 15px;
}
.card-component:hover .card-content {
    transform: translateY(0);
}

.card-component:hover .card-image {
    transform: scale(1.1);
}
