.contact-container {
  display: flex;

}

.left-side {
  flex: 1;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.animated-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 2s ease-in-out;
}


.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
} 

.contact-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.fullName,
.email,
.message {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.fullName:focus,
.email:focus,
.message:focus {
  border-color: #007bff; 
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6); 
}

.message {
  resize: vertical;
}

.btnSubmit {
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; 
}

.btnSubmit:hover {
  background-color: #0056b3; 
}

.contact-info {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-info h3 {
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.info p {
  margin-left: 0.5rem;
}

.social-icons {
  text-align: center;
}

.social-icons h3 {
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.icons a:hover {
  color: #007bff; /* Change color on hover */
}

@media (max-width: 769px) {
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
