.hero-section {
    z-index: -1;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .hero-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .btn-overlay {
    padding: 1rem 2rem;
    /* background-color: #007bff; */
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-overlay:hover {
    background-color: y;
  }
  

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card-item {
    flex: 0 1 calc(25% - 1rem); /* Four cards per row */
    margin-bottom: 1rem;
  }
  
  .card-hover {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card-hover:hover {
    transform: scale(1.05);
  }
  
  .card-hover .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card-hover:hover .card-body {
    opacity: 1;
  }
  

  /* typing heading  */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .typing-container {
    display: inline-block; /* Adjust the display as needed */
    overflow: hidden;
    border-right: 0.15em solid black; /* Adjust the caret style as needed */
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  .typing-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875rem; /* equivalent to text-3xl */
    font-weight: 600; /* equivalent to font-semibold */
    text-align: center; /* equivalent to text-center */
    margin-top: 1.25rem; /* equivalent to mt-5 */
  }
  