.bodycolor {
    background-color:  #008062
    ; /* Replace 'yourColor' with your desired color code */
}
.bgColor{
    background-color:#00A09A ;
}
.textColor{
    color: #00A09A;
}

.input-container {
    border-radius: 10px; /* Adjust as needed */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.input-container:hover,
.input-container:focus-within {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green shadow */
    transform: translateY(-2px); /* Slight lift effect */
}

.input-field {
    border-radius: 10px; /* Match border-radius */
    transition: background-color 0.3s ease;
}

.input-field:focus {
    background-color: #f0fff4; /* Light green background on focus */
}

@media (max-width: 768px) {
    .maindiv{
      flex-direction: column;
      flex-wrap: wrap;
      border-radius: 10px;
    }
    .leftdiv{
      /* border-radius: 100px; */
      order: 1;
    }
    .rightdiv{
        order: 2;

    }
  }