/* RankingCard.css */
.ranking-card {
  background-color: #00A09A;
  border-radius: 0.5rem; 
  padding: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%; /* Adjust width for responsiveness */
  max-width: 25rem; /* Maximum width for larger screens */
  height: auto; /* Adjust height based on content */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  margin-bottom: 1rem; /* Space between cards */

  }
  
  .ranking-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* hover:shadow-lg */
    border-radius: 1rem; /* hover:rounded-lg */
    background-color: #00a09be4;

  }
  
  .ranking-card-header {
    text-align: center;
    padding: 0.5rem 0; /* py-2 */
    border-top-left-radius: 0.5rem; /* rounded-t-lg */
    border-top-right-radius: 0.5rem; /* rounded-t-lg */
  }
  
  .ranking-card-header h2 {
    color: #fff; /* text-white */
    font-weight: bold; /* font-bold */
  }
  
  .ranking-card-content {
    padding: 10px;
    background-color: #fff; /* bg-white */
   border-radius: 0.5rem ;
  }
  
  .ranking-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    transition: background-color 0.3s ease;
  }
  
  .ranking-team:hover {
    background-color: #edf2f7; /* hover:bg-gray-100 */
    border-radius: 0.5rem ;

  }
  
  .ranking-team-flag {
    width: 1.5rem; /* w-6 */
    height: 1.5rem; /* h-6 */
    margin-right: 0.5rem; /* mr-2 */
  }
  
  .ranking-team-name {
    flex: 1;
  }
  
  .ranking-full-button {
    color: #ffffff; /* text-teal-700 */
  }
  
  .ranking-full-button:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 640px) {
    .ranking-card {
      flex-wrap: wrap;
      flex-basis: calc(50% - 1rem); /* Two cards per row with spacing */
      max-width: calc(50% - 1rem); /* Maximum width for larger screens */
    }
  }
  
  @media (min-width: 768px) {
    .ranking-card {
      flex-basis: calc(33.33% - 1rem); /* Three cards per row with spacing */
      max-width: calc(33.33% - 1rem); /* Maximum width for larger screens */
    }
  }
  
  @media (min-width: 1024px) {
    .ranking-card {
      flex-basis: calc(25% - 1rem); /* Four cards per row with spacing */
      max-width: calc(25% - 1rem); /* Maximum width for larger screens */
    }
  }
  
  .ranking-card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: #00a09be4;
  }
  